Repository RPCS3/discord-bot, pull requests merged in 2019-10, with the labels that each got.

#418 New stats
  CompatBot/Commands/BotStats.cs
Labels: enhancement, fun stuff

#419 Added more 8ball commands.
  CompatBot/Commands/Misc.cs
Labels: fun stuff

#421 Add bot to the list of potential spoof targets
  CompatBot/EventHandlers/UsernameSpoofMonitor.cs
Labels: enhancement

#422 Add settings check for dod3
  CompatBot/Utils/ResultFormatters/LogParserResultFormatter.WeirdSettingsSection.cs
Labels: log analyzer

#423 Add links to the game patches wiki where appropriate
  CompatBot/Utils/ResultFormatters/LogParserResultFormatter.WeirdSettingsSection.cs
  CompatBot/Utils/ResultFormatters/LogParserResultFormatter.cs
Labels: log analyzer

#426 Update checks for 60 fps patches
  CompatBot/EventHandlers/EmpathySimulationHandler.cs
  CompatBot/Utils/ResultFormatters/LogParserResultFormatter.WeirdSettingsSection.cs
  CompatBot/Utils/ResultFormatters/LogParserResultFormatter.cs
  discord-bot-net.sln.DotSettings
Labels: fun stuff, log analyzer

#425 Update EmpathySimulationHandler.cs
  CompatBot/EventHandlers/EmpathySimulationHandler.cs
Labels: fun stuff

#427 Cap time for the end of event message to 1 month
  CompatBot/Commands/EventsBaseCommand.cs
Labels: enhancement

#428 Use event year instead of current year for event formatting
  CompatBot/Commands/EventsBaseCommand.cs
Labels: bug

#429 Try to understand people better
  CompatBot/Commands/CompatList.cs
Labels: enhancement

#430 Updates to log analyzer
  CompatBot/EventHandlers/LogParsing/LogParser.LogSections.cs
  CompatBot/Utils/ResultFormatters/LogParserResultFormatter.GeneralNotesSection.cs
  CompatBot/Utils/ResultFormatters/LogParserResultFormatter.WeirdSettingsSection.cs
  CompatBot/Utils/ResultFormatters/LogParserResultFormatter.cs
Labels: log analyzer

#431 Add check for ppu threads
  CompatBot/Utils/ResultFormatters/LogParserResultFormatter.WeirdSettingsSection.cs
Labels: log analyzer

#432 Fix ppu threads extractor
  CompatBot/EventHandlers/LogParsing/LogParser.LogSections.cs
Labels: bug, high priority, log analyzer

#433 Command to restore update notification message when necessary
  CompatBot/Commands/CompatList.cs
  CompatBot/EventHandlers/EmpathySimulationHandler.cs
Labels: enhancement

#435 Adding more replies to 8ball and rate answers
  CompatBot/Commands/Misc.cs
Labels: fun stuff

#436 Maintenance update
  CompatBot/Commands/CompatList.cs
  CompatBot/CompatBot.csproj
  CompatBot/EventHandlers/EmpathySimulationHandler.cs
  CompatBot/EventHandlers/LogParsing/LogParser.LogSections.cs
  CompatBot/Utils/ResultFormatters/LogParserResultFormatter.GeneralNotesSection.cs
  CompatBot/Utils/ResultFormatters/LogParserResultFormatter.WeirdSettingsSection.cs
Labels: enhancement, log analyzer

#438 Add more logging and fix some docker configs
  CompatBot/Config.cs
  CompatBot/Program.cs
  docker-compose.example.yml
Labels: bug

#440 Fix a stupid mistake
  CompatBot/Config.cs
Labels: bug

#442 Add wcb check for r&c:tod
  CompatBot/Utils/ResultFormatters/LogParserResultFormatter.cs
Labels: log analyzer

#443 Update some checks
  CompatBot/EventHandlers/EmpathySimulationHandler.cs
  CompatBot/Utils/ResultFormatters/LogParserResultFormatter.cs
Labels: fun stuff, log analyzer

#444 Update some checks
  CompatBot/Commands/BotStats.cs
  CompatBot/Commands/Psn.cs
  CompatBot/Config.cs
  CompatBot/Database/DbImporter.cs
  CompatBot/EventHandlers/LogParsing/LogParser.LogSections.cs
  CompatBot/Utils/ColorGetter.cs
  CompatBot/Utils/PathUtils.cs
  CompatBot/Utils/ResultFormatters/LogParserResultFormatter.GeneralNotesSection.cs
  CompatBot/Utils/ResultFormatters/LogParserResultFormatter.cs
  CompatBot/Utils/SandboxDetector.cs
  CompatBot/Utils/SandboxType.cs
Labels: enhancement, log analyzer

#446 Fix false positive for broken files in one case
  CompatBot/EventHandlers/LogParsing/LogParser.LogSections.cs
  CompatBot/Program.cs
  Dockerfile
Labels: bug, log analyzer
