Repository RPCS3/discord-bot, pull requests merged in 2020-10, with the labels that each got.

#653 Maintenance
  .github/workflows/codeql-analysis.yml
  CompatBot/Commands/ForcedNicknames.cs
  CompatBot/Utils/ResultFormatters/LogParserResultFormatter.GeneralNotesSection.cs
  CompatBot/Utils/ResultFormatters/LogParserResultFormatter.cs
Labels: log analyzer

#654 Maintenance
  CompatBot/Commands/CompatList.cs
  CompatBot/Commands/Vision.cs
  CompatBot/CompatBot.csproj
  CompatBot/EventHandlers/BotReactionsHandler.cs
  CompatBot/EventHandlers/ContentFilterMonitor.cs
  CompatBot/EventHandlers/DeletedMessagesMonitor.cs
  CompatBot/EventHandlers/DiscordInviteFilter.cs
  CompatBot/EventHandlers/EmpathySimulationHandler.cs
  CompatBot/EventHandlers/GithubLinksHandler.cs
  CompatBot/EventHandlers/GlobalMessageCache.cs
  CompatBot/EventHandlers/Greeter.cs
  CompatBot/EventHandlers/IsTheGamePlayableHandler.cs
  CompatBot/EventHandlers/LogAsTextMonitor.cs
  CompatBot/EventHandlers/LogParsing/SourceHandlers/GoogleDriveHandler.cs
  CompatBot/EventHandlers/LogParsingHandler.cs
  CompatBot/EventHandlers/MediaScreenshotMonitor.cs
  CompatBot/EventHandlers/NewBuildsMonitor.cs
  CompatBot/EventHandlers/PostLogHelpHandler.cs
  CompatBot/EventHandlers/ProductCodeLookup.cs
  CompatBot/EventHandlers/Starbucks.cs
  CompatBot/EventHandlers/TableFlipMonitor.cs
  CompatBot/EventHandlers/ThumbnailCacheMonitor.cs
  CompatBot/EventHandlers/UnknownCommandHandler.cs
  CompatBot/EventHandlers/UsernameSpoofMonitor.cs
  CompatBot/EventHandlers/UsernameValidationMonitor.cs
  CompatBot/EventHandlers/UsernameZalgoMonitor.cs
  CompatBot/Program.cs
  CompatBot/Utils/ResultFormatters/LogParserResultFormatter.WeirdSettingsSection.cs
Labels: log analyzer

#655 Maintenance
  CompatBot/Commands/ForcedNicknames.cs
  CompatBot/Commands/Syscall.cs
  CompatBot/Config.cs
Labels: enhancement

#656 Update settings check
  CompatBot/Utils/ResultFormatters/LogParserResultFormatter.WeirdSettingsSection.cs
  CompatBot/Utils/ResultFormatters/LogParserResultFormatter.cs
Labels: log analyzer

#657 Maintenance
  CompatBot/Commands/ForcedNicknames.cs
  CompatBot/Utils/ResultFormatters/LogParserResultFormatter.cs
Labels: log analyzer

#658 Fix pad configuration check with new logs
  CompatBot/EventHandlers/LogParsing/LogParser.LogSections.cs
  CompatBot/Utils/ResultFormatters/LogParserResultFormatter.GeneralNotesSection.cs
  CompatBot/Utils/ResultFormatters/LogParserResultFormatter.WeirdSettingsSection.cs
Labels: log analyzer

#659 Maintenance
  CompatBot/Commands/Pr.cs
  CompatBot/Commands/Psn.cs
  CompatBot/Commands/Vision.cs
  CompatBot/Utils/ResultFormatters/LogParserResultFormatter.WeirdSettingsSection.cs
  CompatBot/Utils/ResultFormatters/UpdateInfoFormatter.cs
Labels: bug, log analyzer

#660 Maintenance
  CompatBot/Utils/ResultFormatters/LogParserResultFormatter.GeneralNotesSection.cs
Labels: log analyzer

#661 Maintenance
  CompatBot/Utils/ResultFormatters/LogParserResultFormatter.WeirdSettingsSection.cs
  CompatBot/Utils/ResultFormatters/LogParserResultFormatter.cs
Labels: bug, log analyzer

#662 Quick change to handle compat api downtime more gracefully
  CompatBot/EventHandlers/ProductCodeLookup.cs
  CompatBot/Utils/FixedLengthBuffer.cs
  CompatBot/Utils/ResultFormatters/LogParserResultFormatter.cs
  CompatBot/Utils/ResultFormatters/TitleInfoFormatter.cs
Labels: enhancement

#663 Furthher improve game info formatting when compat api is unavailable
  Clients/CompatApiClient/POCOs/CompatResult.cs
  CompatBot/Utils/ResultFormatters/TitleInfoFormatter.cs
Labels: enhancement

#664 Maintenance
  Clients/CompatApiClient/CompatApiClient.csproj
  Clients/GithubClient/GithubClient.csproj
  Clients/PsnClient/PsnClient.csproj
  CompatBot/Commands/CompatList.cs
  CompatBot/Commands/ContentFilters.cs
  CompatBot/Commands/EventsBaseCommand.cs
  CompatBot/Commands/Explain.cs
  CompatBot/Commands/ForcedNicknames.cs
  CompatBot/Commands/Misc.cs
  CompatBot/Commands/Psn.Check.cs
  CompatBot/Commands/Psn.cs
  CompatBot/Commands/Vision.cs
  CompatBot/Commands/Warnings.cs
  CompatBot/CompatBot.csproj
  CompatBot/EventHandlers/DeletedMessagesMonitor.cs
  CompatBot/EventHandlers/MediaScreenshotMonitor.cs
  CompatBot/Program.cs
  CompatBot/Utils/Extensions/DiscordClientExtensions.cs
  CompatBot/Utils/ResultFormatters/LogParserResultFormatter.cs
Labels: enhancement

#665 Fix broken dump check
  CompatBot/EventHandlers/LogParsing/LogParser.LogSections.cs
  CompatBot/Utils/ResultFormatters/LogParserResultFormatter.GeneralNotesSection.cs
  CompatBot/Utils/ResultFormatters/LogParserResultFormatter.cs
Labels: bug, log analyzer
